technical-framework/k-xsd-validation/src/main/resources/xsd/pacs.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
    xmlns:tns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
    elementFormDefault="qualified">

    <!-- Simple sample XSD for PACS.008 message validation -->
    <!-- This is a simplified version for demonstration purposes -->

    <xs:element name="Document" type="tns:Document" />

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIToFICstmrCdtTrf" type="tns:FIToFICustomerCreditTransferV08" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FIToFICustomerCreditTransferV08">
        <xs:sequence>
            <xs:element name="GrpHdr" type="tns:GroupHeader33" />
            <xs:element name="CdtTrfTxInf" type="tns:CreditTransferTransactionInformation30"
                maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupHeader33">
        <xs:sequence>
            <xs:element name="MsgId" type="tns:Max35Text" />
            <xs:element name="CreDtTm" type="xs:dateTime" />
            <xs:element name="NbOfTxs" type="tns:Max15NumericText" />
            <xs:element name="SttlmInf" type="tns:SettlementInformation13" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreditTransferTransactionInformation30">
        <xs:sequence>
            <xs:element name="PmtId" type="tns:PaymentIdentification3" />
            <xs:element name="IntrBkSttlmAmt" type="tns:ActiveCurrencyAndAmount" />
            <xs:element name="Dbtr" type="tns:PartyIdentification32" minOccurs="0" />
            <xs:element name="CdtrAgt" type="tns:BranchAndFinancialInstitutionIdentification4"
                minOccurs="0" />
            <xs:element name="Cdtr" type="tns:PartyIdentification32" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentIdentification3">
        <xs:sequence>
            <xs:element name="InstrId" type="tns:Max35Text" minOccurs="0" />
            <xs:element name="EndToEndId" type="tns:Max35Text" />
            <xs:element name="TxId" type="tns:Max35Text" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SettlementInformation13">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="tns:SettlementMethod1Code" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="tns:ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="tns:ActiveCurrencyCode" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PartyIdentification32">
        <xs:sequence>
            <xs:element name="Nm" type="tns:Max140Text" minOccurs="0" />
            <xs:element name="Id" type="tns:Party6Choice" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
            <xs:element name="FinInstnId" type="tns:FinancialInstitutionIdentification7" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinancialInstitutionIdentification7">
        <xs:sequence>
            <xs:element name="BIC" type="tns:BICIdentifier" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Party6Choice">
        <xs:choice>
            <xs:element name="OrgId" type="tns:OrganisationIdentification4" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="OrganisationIdentification4">
        <xs:sequence>
            <xs:element name="BICOrBEI" type="tns:AnyBICIdentifier" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Simple Types -->
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="140" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5" />
            <xs:totalDigits value="18" />
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA" />
            <xs:enumeration value="INGA" />
            <xs:enumeration value="COVE" />
            <xs:enumeration value="CLRG" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>